# Ignorar arquivos de build
build/** linguist-generated=true

# Ignorar banco e arquivos automáticos
*.db linguist-generated=true

# Ignorar dependências externas
vendor/** linguist-vendored
third_party/** linguist-vendored

# Priorizar C++
*.h linguist-language=C++
*.cpp linguist-language=C++

# Considerar JS/HTML/CSS normalmente
*.js linguist-language=JavaScript
*.html linguist-language=HTML
*.css linguist-language=CSS